{% extends 'login_signup_layout.jinja2' %}
{% block content %}
<div class="inner-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1><strong> Sign Up  Form</h1>
                <div class="description">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
            	<div class="form-top">
            		<div class="form-top-left">
            			<h3>Sign Up to our site</h3>
                		<p>Enter your username and password to log on:</p>
            		</div>
            		<div class="form-top-right">
            			<i class="fa fa-key"></i>
            		</div>
                </div>
                {%  if error %}
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>{{ error}}</h3>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                {% endif %}
                
                <div class="form-bottom" >
                    <form role="form" action="/storeuser" method="post" class="login-form">
                    	<div class="form-group">
                    		<label class="sr-only" for="form-username">Username</label>
                        	<input type="text" name="form-username" placeholder="Username" class="form-username form-control" id="form-username" required="required">
                        </div>
                        <div class="form-group">
                        	<label class="sr-only" for="form-password">Password</label>
                        	<input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password" required="required">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Email</label>
                            <input type="email" name="form-email" placeholder="Email" class="form-username form-control" id="form-email" required="required">
                        </div>
                         <div class="form-group">
                            <label class="sr-only" for="form-username">Age</label>
                            <input type="text" name="form-age" placeholder="Age" class="form-username form-control" id="form-age" required="required">
                        </div>


                        <button type="submit" class="btn">Sign in!</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
            	<h3>...or Sign In</h3>
            	<div class="social-login-buttons">
                	<a class="btn btn-link-1 btn-link-1-google-plus" href="/">
                		<i class="fa fa-google-plus"></i> Sign In
                	</a>
            	</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

